@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-primary: 0 0 0;
        --color-text-secondary: 126 132 144;
        --color-action-button: 0 0 0;
    }
    html {
        width: 100vw;
    }

    body {
        width: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #root {
        width: 100%;
    }
}

@keyframes slidedown {
    from {
        transform: perspective(200px) rotateX(90deg);
    }
    to {
        transform: perspective(200px) rotateX(0deg);
    }
}

.flip-number {
    border-radius: 0.1em;
    box-shadow: 0 2px 3px 0 rgb(0 0 0/0.2);
}

.flip-card {
    position: relative;
    width: 2em;
    font-size: inherit;
    display: inline-flex;
    flex-direction: column;
    color: black;
    /*
    border-radius: 0.1em;
    box-shadow: 0 2px 3px 0 rgb(0 0 0/0.2);
    */

    & * {
        box-sizing: border-box;
    }

    & .top,
    & .bottom,
    & .before-top,
    & .after-bottom {
        text-align: center;
        height: 0.75em;
        line-height: 1;
        padding: 0.25em;
        overflow: hidden;
    }

    & .top,
    & .before-top {
        background-color: #f7f7f7;
        border-top-right-radius: 0.1em;
        border-top-left-radius: 0.1em;
        border-bottom: 1px solid rgb(0 0 0/0.01);
    }

    & .bottom,
    & .after-bottom {
        background-color: white;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-bottom-right-radius: 0.1em;
        border-bottom-left-radius: 0.1em;
    }
}

.number-scroll {
    font-size: 0.5rem;
    font-weight: 600;
    color: rgb(var(--color-text-primary) / 0.3);

    & .title {
        line-height: 1;
        text-align: center;
    }
}

.flip-card[data-bonus="true"] {
    color: blue;
}

@media (min-width: 1028px) {
    .number-scroll {
        font-size: 1rem;

        & .flip-card {
            width: 3em;
        }
    }
}

@keyframes flip-top {
    100% {
        transform: rotateX(90deg);
    }
}
@keyframes flip-bottom {
    100% {
        transform: rotateX(0deg);
    }
}

.flip-card .before-top {
    position: absolute;
    width: 100%;
    /*
    animation: flip-top 500ms ease-in 1s forwards;
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
    */
}
.flip-card.flip .after-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*
    transform: rotateX(90deg);
    animation: flip-bottom 500ms ease-out 1.5s forwards;
    transform-origin: top;
    -webkit-transform-origin: top;
    */
}

/*https://www.youtube.com/watch?v=p_6IuhmBsfc*/
.number-button {
    position: relative;
    width: 48px;
    line-height: 48px;
    font-size: 2rem;
    font-weight: 300;
    aspect-ratio: 1/1;
    text-align: center;
    border: 1px solid rgb(0 0 0 /0.1);
    border-radius: 5px;
    color: white;
    background-color: black;
    box-shadow: 0 2px 3px 0 rgb(0 0 0/0.2);
}

.number-input {
    width: 48px;
    line-height: 1;
    font-size: 2rem;
    text-align: center;
    border: 1px solid rgb(0 0 0 /0.1);
    border-radius: 5px;
}

.number-input-pad {
    display: grid;
    grid-template-columns: repeat(6, 56px);
    row-gap: 5px;
}

.number-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.number-pad {
    width: 100%;
    max-width: 430px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(56px, 1fr));
    row-gap: 5px;
}

.number-pad-button {
    width: 48px;
    height: 48px;
    position: sticky;
    margin-left: auto;
    bottom: 60px;
}
