@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-primary: 0 0 0;
        --color-text-secondary: 126 132 144;
        --color-action-button: 0 0 0;
    }
    html {
        width: 100vw;
    }

    body {
        width: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #root {
        width: 100%;
    }
}

@keyframes slidedown {
    from {
        transform: perspective(200px) rotateX(90deg);
    }
    to {
        transform: perspective(200px) rotateX(0deg);
    }
}

.flip-card {
    position: relative;
    width: fit-content;
    font-size: inherit;
    display: inline-flex;
    flex-direction: column;
    color: #de4848;
    border-radius: 0.1em;
    box-shadow: 0 2px 3px 0 rgb(0 0 0/0.2);

    & * {
        box-sizing: border-box;
    }

    & .top,
    & .bottom,
    & .before-top,
    & .after-bottom {
        height: 0.75em;
        line-height: 1;
        padding: 0.25em;
        overflow: hidden;
    }

    & .top,
    & .before-top {
        background-color: #f7f7f7;
        border-top-right-radius: 0.1em;
        border-top-left-radius: 0.1em;
        border-bottom: 1px solid rgb(0 0 0/0.1);
    }

    & .bottom,
    & .after-bottom {
        background-color: white;
        display: flex;
        align-items: flex-end;
        border-bottom-right-radius: 0.1em;
        border-bottom-left-radius: 0.1em;
    }
}

@keyframes flip-top {
    100% {
        transform: rotateX(90deg);
    }
}
@keyframes flip-bottom {
    100% {
        transform: rotateX(0deg);
    }
}

.flip-card .before-top {
    position: absolute;
    width: 100%;
    animation: flip-top 500ms ease-in 1s forwards;
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
}
.flip-card.flip .after-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: flip-bottom 500ms ease-out 1.5s forwards;
    transform-origin: top;
    -webkit-transform-origin: top;
    transform: rotateX(90deg);
}

/*https://www.youtube.com/watch?v=p_6IuhmBsfc*/
